$color-main:  #34393f;
$color-blue: #00a3ff;

@mixin webkit ($type,$value) {
    -moz-#{$type}: $value;
    -webkit-#{$type}: $value;
    -o-#{$type}: $value;
    #{$type}: $value;
}

/* clearfix */
%clearfix {
    &:after {
        clear: both;
        content: '.';
        display: block;
        height: 0;
        line-height: 0;
        overflow: hidden;
    }
    *height: 1%;
}

/* 定义浮动*/ 
.pull-right {float: right;}
.pull-left {float: left;}
.clearfix { @extend %clearfix;}

.fs-24 {
    font-size: 24px;
}