$color-main:  #34393f;
$color-blue: #00a3ff;

@mixin webkit ($type,$value) {
    -moz-#{$type}: $value;
    -webkit-#{$type}: $value;
    -o-#{$type}: $value;
    #{$type}: $value;
}

/* clearfix */
%clearfix {
    &:after {
        clear: both;
        content: '.';
        display: block;
        height: 0;
        line-height: 0;
        overflow: hidden;
    }
    *height: 1%;
}

/* 定义浮动*/ 
.pull-right {float: right;}
.pull-left {float: left;}
.clearfix { @extend %clearfix;}

.fs-24 {
    font-size: 24px;
}


a {
    text-decoration: none;
}
/*正常的未被访问过的链接*/
a:link {
    text-decoration: none;
}
/*已经访问过的链接*/
a:visited {
    text-decoration: none;
    color: rgba(255,255,255,0.4);
}
/*鼠标划过(停留)的链接*/
a:hover {
    text-decoration: none;
    color: #fff;
}
/* 正在点击的链接，鼠标在元素上按下还没有松开*/
a:active {
    text-decoration: none;
}
/* 获得焦点的时候 鼠标松开时显示的颜色*/
a:focus {
    text-decoration: none;
}

.select-car {
    margin: 0 17px;
    text-align: center;
    display: block;
    width: 240px;
    height: 84px;
    line-height: 84px;
    color: #fff;
    border-radius: 100px;
    font-size: 26px;
    font-weight: 300;
    background-color: $color-main;
}